:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --adrress-color: rgba(255, 255, 255, 0.6);
  --pure-black-color: #000000;
  --card-set-gap: 30px;
  --shadows: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
address {
  font-style: normal;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* header */

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo .header-logo {
  margin-right: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--pure-black-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

/* site nav */

.site-nav {
  display: flex;
}

.site-nav .link {
  color: var(--title-text-color);
}

.contacts-nav .mail,
.contacts-nav .phone,
.site-nav .link {
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}

/* site+contacts nav */

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .mail:hover,
.contacts-nav .mail:focus,
.contacts-nav .phone:hover,
.contacts-nav .phone:focus {
  color: var(--accent-color);
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*contacts nav*/

.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-mail {
  margin-right: 50px;
}

.contacts-nav .mail,
.contacts-nav .phone {
  color: var(--primary-text-color);
}

/*Hero*/

.hero {
  padding: 200px 200px;
}

/*Backgoung image*/
.bg {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_background/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
}
.hero,
.section-footer {
  background-color: var(--primary-bg-color);
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button,
.primary-button:hover,
.primary-button:focus {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*main*/

.advantages {
  display: flex;
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-item::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}

.icon-antena::before {
  background-image: url('../images/svg/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/svg/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/svg/diagram.svg');
}

.icon-austronaut::before {
  background-image: url('../images/svg/astronaut.svg');
}
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title {
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/*our features*/

.our-features {
  padding-top: 0px;
  margin-bottom: 50px;
}
.features {
  display: flex;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}

/*our team*/

.our-team {
  margin-bottom: 50px;
}

.team {
  display: flex;
}

.team-item {
  box-shadow: var(--shadows);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item:not(:last-child) {
  margin-right: 30px;
}

.section-team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member-domain {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/*footer*/

.contacts-footer .contacts-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.section-footer .logo {
  display: block;
  margin-bottom: 20px;
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--primary-white-color);
}

.section-footer .mail,
.section-footer .phone {
  display: block;

  color: var(--adrress-color);
}

.address:hover,
.address:focus,
.section-footer .mail:hover,
.section-footer .mail:focus,
.section-footer .phone:hover,
.section-footer .phone:focus {
  color: var(--accent-color);
}

/*portfolio*/

.portpholio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portpholio-nav > .nav-btn:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-content {
  padding: 20px 24px;
}

.secondary-button {
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.link-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
